<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433359368766-e14lskofpejdfrepol39esf9ban0ij5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433359368766-e14lskofpejdfrepol39esf9ban0ij5j</string>
	<key>API_KEY</key>
	<string>AIzaSyBaL-dyZOFFSSYvz1sqz9iFjHgyNwy7TTI</string>
	<key>GCM_SENDER_ID</key>
	<string>433359368766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.tecnocell.mobile</string>
	<key>PROJECT_ID</key>
	<string>customs-d81c2</string>
	<key>STORAGE_BUCKET</key>
	<string>customs-d81c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433359368766:ios:42f51534c665077ff0176f</string>
	<key>DATABASE_URL</key>
	<string>https://customs-d81c2.firebaseio.com</string>
</dict>
</plist>